*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}
body{
    line-height: 1.4;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 10px;
    padding: 2.4rem;
    width: 500px;
}

.container h1{
    font-family: 'Questrial', sans-serif;
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 3px;
}
.container textarea{
    line-height: 1.5;
    width: 100x;
    border-radius: none;
    resize: none;
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    outline: 0;
    font-weight: 400;
    background: rgb(0, 102, 255);
}
.container textarea::placeholder{
    color: darkgray;
}

#